<launch>

  <node pkg="slam_toolbox" type="lifelong_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find navigation_2d)/config/mapper_params_lifelong.yaml" />
  </node>

  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find navigation_2d)/rviz/rpp_mapping.rviz" />

</launch>